@mixin flex($direction,$wrap,$justify,$align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin animacion-button {
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    &:hover{
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px $color-10;
        transform: scale(1.05);
    }
    &:active {
        transform: translateY(-1px);
        transform: rotate(3deg);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-color: $color-30;
        color: $color-60;
        a {
            color: $color-60;
        }
    }
}

@mixin animacion-li {
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    &:hover{
        transform: translateZ(50px);
        // box-shadow: 0 0 20px 0px $color-10;
        transform: scale(1.05);
    }
    &:active {
        transform: translateY(-1px);
        transform: rotate(2deg);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@mixin animacion-card {
    transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    &:hover{
        transform: translateY(-20px);
        transform: scale(1.05);
        transform-origin: 50% 50%;
    }
}