header {
    width: 100%;
    nav {
        background-color: $color-60;
        color: $color-30;
        h1 {
            font-size: 3rem;
            color: #575757;
            font-family: $typo-titulos;
            width: 17.0625rem;
            height: 4rem;
            margin: 0rem;
            a {
                img {
                    display: flex;
                }
            }
        }
    }
}

.actual {
    border-bottom: 2px solid $color-10;
    // border-bottom-right-radius: .3125rem;
    border-bottom-left-radius: .625rem;
}

.navbar {
    font-family: $typo-titulos;
    padding: .9375rem 0rem;
    li a {
        background-color: $color-60;
        color: $color-30;
        font-size: 1.25rem;
        @include animacion-li;
        &:hover {
            color: $color-10;
        }
    }
}

.navbar-toggler {
    border: 0rem solid var(--bs-navbar-toggler-border-color);
}

.navbar-toggler-icon {
    background-image: url(../assets/img/Menu.png);
}