@media (max-width:1100px){

    .cards-container .texto {
        width: 14.375rem;
    }
    
    .section-principal {
        .titulo {
            width: 38.1875rem;
            height: 90%;
            gap: .9375rem;
            justify-content: center;
            h2 {
                font-size: 3rem;
                font-family: $typo-titulos;
            }
        }
    }
    
    .section-info-1 {
        padding: 2.75rem 2.3125rem;
        img {
            width: 25rem;
        }
    }
    
    .section-info-11 {
        padding: 2.75rem 2.3125rem;
        img {
            width: 25rem;
        }
    }

    /* EVENTOS */

    .section-categoria {
        .article-container {
            gap: 1.25rem;
        }
    }    

}
