@media (max-width: 640px){
    
    /* HEADER */

    .navbar-brand img {
        width: 202px;
        height: 48px;
    }

    /* INICIO */

    .section-principal .titulo h2 {
        font-size: 2.5rem;
    }

    .section-cards {
        grid-template-columns: 1fr;
        height: 40.625rem;
        align-content: start;
        padding-top: 1.875rem;
    }

    .flecha-atras {
        display: none;
    }

    .flecha-adelante {
        display: none;
    }

    .cards-container {
        .texto {
            justify-content: start;
            gap: 1.25rem;
            height: 18.75rem;
        }
        p {
            display: none;
        }
    }

    .section-info-1 img {
        width: 28.125rem;
        height: 17.5rem;
    }

    .section-info-11 img {
        width: 28.125rem;
        height: 17.5rem;
    }

    .section-info-2 {
        .texto {
            width: 26.875rem;
            height: 13.75rem;
        }
        .accordion .accordion-item {
            width: 28.125rem;
        }
    }

    .section-nuevo-cliente .texto {
        width: 100%;
    }

    /* SOBRE NOSOTROS */
    
    .section-titulo-about {
        h2 {
            font-size: 3.25rem;
        }
    }

    .section-video {
        height: 33.75rem;
        iframe {
            width: 90%;
        }
    }

    .container-metricas {
        .datos{
            h3{
                font-size: 3.75rem;
            }
            h4 {
                font-size: 1.5625rem;
            }
        }
    }

    /* CONTACTO */
    
    .section-titulo-contacto {
        h2 {
            font-size: 3.25rem;
        }
    }
    
    .main-contacto {
        grid-template-rows: auto 48.75rem 44.75rem;
    }

}