.section-video {
    width: 100%;
    background-color: $color-30;
    color: $color-60;
    height: 36.875rem;
    padding-top: 2.4375rem;
    @include flex(column,none,none,center);
    // div {
    //     width: 100%;
    // }
}

.container-metricas {
    @include flex(row,none,space-between,none);
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: .625rem;
    width: 100%;
    .datos{
        @include flex(column,none,center,center);
        h3 {
            font-size: 6rem;
            font-family: $typo-titulos;
        }
        h4 {
            font-size: 2.25rem;
            font-family: $typo-titulos;
        }
    }
}



