.main-contacto {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 44.75rem;
    iframe {
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

/* 

Este partial corresponde a los titulos de las paginas de:

    - Contacto
    - Sobre Nosotros

Se agrupan ya que tienen los mismos estilos

*/

.section-titulo-about {
    width: 100%;
    height: 18.3125rem;
    background-image: url(../assets/img/foto-titulo-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row, none, none, center);
    padding-left: 2.8125rem;
    h2 {
        color: $color-30;
        font-size: 3.75rem;
        font-family: $typo-titulos;
        width: 36.125rem;
        height: 10.125rem;
        @include flex(row,none,none,center);
    }
}

.section-titulo-contacto {
    @extend .section-titulo-about;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-image: url(../assets/img/foto-titulo-contacto.png);
}
