/* ESTA SECCION CORRESPONDE AL MAIN DEL INDEX */

.section-info-2 {
    background-image: url(../assets/img/foto-eventos-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-30;
    padding-top: 1.25rem;
    @include flex(column,none,none,center);
    .texto {
        width: 33.75rem;
        height: 11.75rem;
        @include flex(column,none,none,center);
        gap: 20px;
        margin-bottom: 1.25rem;
        background-image: none;
    }
    .accordion {
        align-items: center;
        margin-bottom: 3.125rem;
        .accordion-item {
            width: 37.5rem;
            .accordion-button{
                &:not(.collapsed) {
                    background-color: $color-10;
                    color: $color-60;
                }
            }
            .accordion-body {
                font-size: 1rem;
                font-family: $typo-parrafos;
                background-color: $color-60;
                color: $color-30;
            }
        }
    }
    h2 {
        font-size: 2.5rem;
        font-family: $typo-titulos;
    }
    p {
        font-size: 1rem;
        font-family: $typo-parrafos;
    }
}